*{
    padding: 0;
    margin: 0;
}
header{
    height: 20vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    height: 100vh;
    background-color: black;
}
main{
    margin-top: 3%;
    height: 100vh;
 
}
h1,h2,#tps,#tpsTour{
    color: white;
    
}
#heure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#horloge,#chrono,#timer,#reveilA,#test,.rListe {
    margin-top: 2%;
    color: #17D4FE;
    font-size: 60px;
    font-family: "Orbitron";
    letter-spacing: 7px;
    text-shadow:  1px 1px 2px #17D4FE, 0 0 1em #17D4FE, 0 0 0.2em black;
}
#chronometre{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listeReveil{
    height: auto;
    width: 40vh;
    display: flex;
    flex-wrap: wrap;
}
#listeReveil input{
    height: 100px;
    color: white;
    margin-right: 10%;
}
#minuteur,#reveil{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#minuteur .button, #debutTimer{
    display: inline;
    margin-top: 2%;
    width: 150px;

}

#tempsTour{
    margin-bottom: 3%;
    
}
#tpsTour{
    text-align: center;
    margin: 1%;
    
}
.afficheModule{
    display: flex;
    justify-content:center;
    margin-bottom: 2%;

}
.afficheModule button{
    margin: 2%;
    width: 150px;
    background-color:#17D4FE;
}
#reveil{
    display: flex;
    flex-direction: column;
    height: auto;
}
#reveil #hours,#reveil #min,#reveil button {
    margin-top: 2%;
}
footer{
    background-color: blue;
    
    height: 150px;
}
footer p {
    color: white;
   text-align: center;
}
@media (max-width: 640px) {
    *{
      margin: 0;
      padding: 0;  
    }
    header{
        height: 20vh;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    body{
      
        background-color: white;
    }
    h1,h2{
        color: black;
    }
    #tpsTour{
        color: black;
        
    }
    main{
        height: 100vh;
    }
    .test{
      height: 300px;
      margin-bottom: 50px;
    }
    #reveilButton{
        margin-bottom: 5%;
    }
    #reveilA{
        margin-bottom: 3%;
    }
    #button{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #horloge,#chrono,#timer,#reveilA,#test {
        margin-top: 2%;
        color: black;
        font-size: 60px;
        font-family: 'Orbitron';
        letter-spacing: 7px;
        text-shadow:  1px 1px 2px #17D4FE, 0 0 1em #17D4FE, 0 0 0.2em black;
    }
    #tempsTour{
        margin-bottom: 5%;
    }
    footer{
        margin-top: 15%;
        background-color: white;
    }
    footer p {
        color: black;
        text-align: center;
    }
    .afficheModule{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
